IoT/flows.json
[
    {
        "id": "1a2b3c4d5e6f7g8h",
        "type": "tab",
        "label": "Start-Stop MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "switch_node",
        "type": "ui_switch",
        "z": "1a2b3c4d5e6f7g8h",
        "name": "Start/Stop Switch",
        "label": "Start/Stop",
        "tooltip": "",
        "group": "b27acc01591d14e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "cmd",
        "topicType": "str",
        "style": "",
        "onvalue": "start",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "green",
        "offvalue": "stop",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "mqtt_out",
        "type": "mqtt out",
        "z": "1a2b3c4d5e6f7g8h",
        "name": "MQTT Publish",
        "topic": "IoT/cmd",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "6a0378d8070f9470",
        "type": "debug",
        "z": "1a2b3c4d5e6f7g8h",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "809d17b567ec3785",
        "type": "mqtt in",
        "z": "1a2b3c4d5e6f7g8h",
        "name": "",
        "topic": "IoT/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4a02a6cacb24081f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "c4f5fe1d1853bbd9",
                "6a0378d8070f9470"
            ]
        ]
    },
    {
        "id": "c4f5fe1d1853bbd9",
        "type": "ui_gauge",
        "z": "1a2b3c4d5e6f7g8h",
        "name": "",
        "group": "b27acc01591d14e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "RandomNumber",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "b27acc01591d14e8",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "b0759ff911e09b10",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4a02a6cacb24081f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.44.188.224",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b0759ff911e09b10",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]